@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50;
    position: relative;
  }
}

.min-w-5 {
  min-width: 5rem;
}
td {
  @apply py-2 p-0.5;
}
.btn-primary {
  @apply outline outline-2 text-xs px-2 py-1 ml-2 font-semibold opacity-90;
  @apply hover:bg-zinc-900 hover:text-white;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50;
  @apply transition-all duration-300 ease-in-out;
  @apply rounded-2xl;
}

.pagination-button {
  @apply btn-primary py-0.5;
}
input {
  @apply outline-1 outline outline-neutral-400 pl-4 py-0.5;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50;
  @apply transition-all duration-300 ease-in-out;
}
label {
  @apply text-sm font-semibold;
}
option {
  @apply text-sm;
}
select {
  @apply outline-1 outline outline-neutral-400 pl-2 py-0.5;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50;
  @apply transition-all duration-300 ease-in-out text-sm;
}
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}
button:disabled {
  @apply opacity-50 cursor-not-allowed;
}
